<a href="https://colab.research.google.com/github/devansh391k/22BDS0064/blob/main/22BDS0064.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DEVANSH SHUKLA (22BDS0064)**

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import missingno as msno

# 1. Load the dataset
df = pd.read_csv("Medicaid1986.csv")

# DATA EXPLORATION
# 2. Print the entire dataset
print(df)

     rownames  visits  exposure  children  age  income  health1  health2  \
0           1       0       100         1   24  14.500    0.495   -0.854
1           2       1        90         3   19   6.000    0.520   -0.969
2           3       0       106         4   17   8.377   -1.227    0.317
3           4       0       114         2   29   6.000   -1.524    0.457
4           5      11       115         1   26   8.500    0.173   -0.599
..        ...     ...       ...       ...  ...     ...      ...      ...
991       992       0       106         0   65   8.500   -2.264    0.347
992       993       1       107         0   90   9.660    1.532    0.455
993       994      10       116         1   70   6.000    2.660   -0.723
994       995       3       118         0   73   6.000    0.813    0.056
995       996       0       115         2   71  10.444   -2.113    0.236

     access married  gender ethnicity  school enroll program
0      0.50      no  female      cauc      13    yes    afdc
1      0.17      no  female      cauc      11    yes    afdc
2      0.42      no  female      cauc      12    yes    afdc
3      0.33      no  female      cauc      12    yes    afdc
4      0.67      no  female      cauc      16    yes    afdc
..      ...     ...     ...       ...     ...    ...     ...
991    0.33     yes    male      cauc       8     no     ssi
992    0.50     yes    male      cauc       0     no     ssi
993    0.17      no  female      cauc       8     no     ssi
994    0.17      no  female      cauc      12     no     ssi
995    0.42     yes    male     other      14     no     ssi

[996 rows x 15 columns]